.usercard{
    width: 36vh;
    height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar-wrap{
        position:absolute;
        z-index: 9999;
        top: -8vh;
        .avatar{
            width: 10vh;
            height: 10vh;
            border-radius: 100%;
        }
    }
    .name{
        font-size: 3vh;
        color: #0084ff ;
    }
    .data{
        width: 100%;
        height: 100%;
        padding-left: 5vh;
        padding-top: 2vh;
    }
    .work{
        height: 18vh;
        width: 36vh;
        top: 20vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
